@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

.button {
	border: 5px solid grey;
	border-radius: 50%;
	display: inline-block;
	width: 15px;
	height: 15px;
}

li {
	list-style-type: none;
	display: inline-block;
}

.show0, .show1, .show2, .show3, .show4 {
	display: none;
}
.show0:target, .show1:target, .show2:target, .show3:target, .show4:target {
	display: inline-block;
}

img {
	width: 100%;
}

ol {
	text-align: center;
}
